{% extends "base.html" %}

{% block top_right %}
    <table>
        <tr>
            <td><a href="users/login_form/">Login</a></td>
        </tr>
        <tr>
            <td><a href="users/client_register_form/">Client Registration</a></td>
        </tr>
        <tr>
            <td><a href="users/stylist_register_form/">Stylist Registration</a></td>
        </tr>
    </table>
{% endblock top_right %}

{% block body %}
    <table cellpadding=5>
        <tr>
            <td align=justify>
                <b>About Us: </b></br></br>Once you enter the over century old home that houses our salon, you will be greeted by the friendly faces of a group of women that are bursting with creativity and originality. We are eager to assist you with all your needs. At Kreations Hair Salon communication is one of our main objectives for making your visit stress-free.
            </td>
        </tr>
        <tr>
            <td align=justify>
                All of us at Kreations Hair Salon understand that many times you want to get away from dealing with the many day-to-day problems and most of us never get around to pampering ourselves. It is our pleasure to give you a relaxing, laid-back, warm and welcoming experience. We hope you will choose to visit us. You will find that we treat our clients more like friends and our salon more like a home.
            </td>
        </tr>
        <tr>
            <td align=justify>
                Our team of professionals have up-to-date education, technical know-how and most importantly, the desire to send our new and existing clients of all ages and personalities on their way, feeling rejuvenated with that special, personal touch of Kreations Hair Salon. 
            </td>
        </tr>
    </table>
{% endblock body %}

{% block heading %}
    Home
{% endblock heading %}